@{
    ViewBag.Title = "Home";
}

<h2 class="text-info">Welcome</h2>

<div class="mt-4">
    <a href="@Url.Action("Index", "Category")" class="btn btn-primary">Category Master</a>
    <a href="@Url.Action("Index", "Product")" class="btn btn-success">Product Master</a>
</div>
